<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <dl>
      <dt>Contact Date</dt>
      <dd><%=item.contactdate%></dd>
      <dt>Contact by:</dt>
      <dd><%=item.user%></dd>
      <dt>Contact to:</dt>
      <dd><%=item.respondent%></dd>
      <dt>Contact Result</dt>
      <dd><%=item.result%></dd>
    </dl>
  </body>
</html>