<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <dl>
      <dt>Name</dt>
      <dd itemscope itemtype="http://schema.org/Person" itemprop="name"><%=item.name%></dd>
      <dt>Phone</dt>
      <dd itemscope itemtype="http://schema.org/Person" itemprop="telephone"> <%=item.phone%></dd>
      <dt>Assigned to:</dt>
      <dd><a itemscope itemtype="http://schema.org/Person" itemprop="url" href="/users/<%=item.user%>"><%=item.user%></a></dd>
      <dt>Supervisor</dt>
      <dd itemscope itemtype="http://schema.org/Person" itemprop="name"><%=item.supname%></dd>
      <dt>Termination Date</dt>
      <dd><%=item.termdate%></dd>
      <dt>Hire Date</dt>
      <dd><%=item.hiredate%></dd>
    </dl>
	
    <div class="control">
      <h2>Update respondent</h2>
      <form method="post" action="/respondents/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Name: 
          <input itemscope itemtype="http://schema.org/Person itemprop="name" name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <label>Assigned to: 
          <select name="item[user]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.user) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label> Telephone Number: 
            <input itemscope itemtype="http://schema.org/Person itemprop="telephone" "name="item[phone]" value="<%=item.phone%>" type="tel">
        <label> Termination Date: 
            <input name="item[termdate]" value="<%=item.termdate%>" type="date">
        </label>
        <label> Hire Date: 
            <input name="item[hiredate]" value="<%=item.hiredate%>" type="date">
        </label>
        <label>Supervisor:
          <input itemscope itemtype="http://schema.org/Person itemprop="name" name="item[supname]" value="<%=item.supname%>" type="text"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>

